/* .grid{
    display: grid;
    /* grid-template-columns:repeat(2,50px);
    grid-template-rows: 80px 200px; */
/* grid-template-columns:repeat(7,1fr);

    grid-auto-rows: 100px;
    /* justify-content: space-around; */
/* gap: 4px;
} */

/* .header{
    background-color: red;
    grid-column: 1/-1;

}
.sidebar{
    background-color: black;
    grid-column: 1/2;
    grid-row: 2/7;
}
.main1{
    background-color: purple;
    grid-column: 2/5;
    grid-row:2/5 ;
} */
/* .main2{
    background-color: yellow;
    grid-column: 5/-1;
    grid-row:2/5 ;
}
.large{
    background-color: green;
    grid-column: 2/-1;
    grid-row:5/7 ;
}
.footer{
    background-color: blue;
    grid-column: 1/-1;
}  */
.position{
    background-color: antiquewhite;
    width: 700px;
    position: relative;
}
.position div {
  height: 100px;
  width: 100px;
}
.static {
  background-color: aquamarine;
}
.relative {
  background-color: red;
  position: relative;
  left: 130px;
  border: 3px solid #73ad21;
}
.fixed {
  background-color: black;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
}
/* .absolute {
  background-color: rebeccapurple;
  position: absolute;
  top: 80px;
  right: 0;
} */
.sticky {
  background-color: brown;
}

.black{
    min-height: 50px;
    background-color: black;

}
.red{
    min-height: 50px;
    background-color: red;
    position: sticky;
    top: 0;
}

.fa-bars{
    font-size: 50px;
    color: red;
}

@media (max-width:800px) {
  .black{
    min-height: 50px;
    background-color: royalblue;

}
}